.header {
  display: flex;
  align-items: center;
  background-color: #ecf0f1;
  position: sticky;
  z-index: 100;
  top: 0;
  height: 100px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
}

.header_logo {
  width: 60px;
  margin: 0 20px;
}

.header h3{
  font-size: 3rem;
  color: gray;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.header h3 span{
  color: #3498db;
}
